.FilterBit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    min-width: 3.125rem;
    margin-right: 3px;
    background-color:#e0e0e0;
    padding: 0.68rem;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    cursor: default;
    outline: none;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    white-space: nowrap;
    border-radius: 5px;
    text-decoration: none;
}


.Label {
    font-size: 1rem;
    color: #000000;
    margin: 0 0.4rem 0 0;
}


.RemoveIcon {
    width: 1rem;
    object-fit: contain;
    cursor: pointer;
}
